<div align="center" class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <h1 align="center">Error</h1>
    </div>
    <div class="col-sm-2">
        <a class="btn btn-default pull-right" href="/" role="button">Home</a>
    </div>
</div>

<hr>

<div class="w3-container">
    <div class="w3-card-4 w3-center w3-white" style="padding: 50px">
        <h2 align="center">
            <%= env.status %>
        </h2>
        <h3 align="center">
            You have been logged out!
        </h3>
        <pre align="center"><%= env.error %></pre>
    </div>
</div>